@import "tailwindcss";

:root {
  --background: #191919;
  --text: #d9d9d9;
}

@theme {
  --font-stencil: "BigShouldersStencil", "san-serif";
  --font-bigShouldersText: "BigShouldersText", "san-serif";
  --font-sans: "SpaceGrotesk", "sans-serif";
  --font-lexend: "LexendDeca", "sans-serif";
  --spacing-46: 2.875rem;
  --spacing-100: 6.25rem;
  --text-120: 7.5rem;
  --color-text: var(--text);
  --color-background: var(--background);
}

@font-face {
  font-family: "LexendDeca";
  src: url("assets/fonts/LexendDeca/LexendDeca-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "BigShouldersStencil";
  src: url("assets/fonts/BigShoulersStencil/BigShouldersStencil_18pt-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "BigShouldersStencil";
  src: url("assets/fonts/BigShoulersStencil/BigShouldersStencil_18pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BigShouldersText";
  src: url("assets/fonts/BigShouldersText/BigShoulders-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: bold;
}

body {
  @apply font-sans;
  background-color: var(--background);
  color: var(--text);
}
